{% extends 'base.html' %}
{% load static %}
{% block title %} Contacto {% endblock title %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/CONTACTO.css' %}" media="screen"> 
{% endblock css %}
{% block content %}
{% include 'includes/header.html' %}
<section class="u-align-center u-clearfix u-grey-10 u-section-1" style="min-height: 100%; background-image: linear-gradient(rgb(206, 223, 245), rgb(230, 236, 245), #f2f2f2);" id="sec-e012">
  {% if contacto == 'noe' %}
  <script>
    Swal.fire({
      background: "#fff",
      title: "<strong>CONTACTO</strong> <br> <h3 style='color: rgb(255,105,97)'>NO EXISTE</h3>",
      html: "En el administrador dirígase a <br> <strong style='color: #3085d6'>Pestañas &#10142; P. Contacto </strong> <br> y cree uno",
      icon: 'error',
      confirmButtonColor: '#3085d6',
      confirmButtonText: 'ok',
    })
  </script>
  {% else %}

    {% if contacto.email %}
    <div class="u-align-center u-container-style u-group u-shape-rectangle u-white u-group-1 mt-5" style="background-color: white; border-radius: 15px; border: 2px solid #e9f2fa;">
      <div class="u-container-layout u-container-layout-1">
        <h2 class="u-custom-font u-font-oswald u-text u-text-default u-text-palette-1-base u-text-1">Contáctanos</h2>
        <p class="u-text u-text-2">&#128153;</p>
        <div class="u-form u-form-1">
          <a hidden id="contacto"></a>
          <form action="{% url 'home_app:contacto' %}" method="POST" class="u-clearfix u-form-spacing-20 u-inner-form"
            style="padding: 0;" source="email" name="form">
            {% csrf_token %}
            <div class="d-flex-row row">
              <div class="col-12 col-lg-4 mb-2">
                <label for="name-d70e" class="u-form-control-hidden u-label">Name</label>
                <div class="input-group has-validation">
                  {{ form.name }}
                  {% for error in form.name.errors %}
                  {% if not error %}
                  <div class="valid-feedback">
                    Buena
                  </div>
                  <script>
                    var elemento = document.getElementById('valiname')
                    elemento.classList.add("is-valid")
                    elemento.classList.remove("is-invalid")
                  </script>
                  {% endif %}
                  {% if error %}
                  <div id="validationServerUsernameFeedback" class="invalid-feedback">
                    {{ error }}
                  </div>
                  <script>
                    var elemento = document.getElementById('valiname')
                    elemento.classList.remove("is-valid")
                    elemento.classList.add("is-invalid")
                    elemento.setAttribute("aria-describedby", "inputGroupPrepend3 validationServerUsernameFeedback")
                  </script>
                  {% endif %}
                  {% endfor %}
                </div>
              </div>

              <div class="col-12 col-lg-4 mb-2">
                <label for="email-d70e" class="u-form-control-hidden u-label">Email</label>
                <div class="input-group has-validation">
                  {{ form.email }}
                  {% for error in form.email.errors %}
                  {% if not error %}
                  <div class="valid-feedback">
                    Buena
                  </div>
                  <script>
                    var elemento = document.getElementById('valiemail')
                    elemento.classList.add("is-valid")
                    elemento.classList.remove("is-invalid")
                  </script>
                  {% endif %}
                  {% if error %}
                  <div id="validationServerUsernameFeedback" class="invalid-feedback">
                    {{ error }}
                  </div>
                  <script>
                    var elemento = document.getElementById('valiemail')
                    elemento.classList.remove("is-valid")
                    elemento.classList.add("is-invalid")
                    elemento.setAttribute("aria-describedby", "inputGroupPrepend3 validationServerUsernameFeedback")
                  </script>
                  {% endif %}
                  {% endfor %}
                </div>
              </div>

              <div class="col-12 col-lg-4 mb-2">
                <label for="phone-d5b3" class="u-form-control-hidden u-label"></label>
                <div class="input-group has-validation">
                  {{ form.phone }}
                  {% for error in form.phone.errors %}
                  {% if not error %}
                  <div class="valid-feedback">
                    Buena
                  </div>
                  <script>
                    var elemento = document.getElementById('validationServerUsername')
                    elemento.classList.add("is-valid")
                    elemento.classList.remove("is-invalid")
                  </script>
                  {% endif %}
                  {% if error %}
                  <div id="validationServerUsernameFeedback" class="invalid-feedback">
                    {{ error }}
                  </div>
                  <script>
                    var elemento = document.getElementById('validationServerUsername')
                    elemento.classList.remove("is-valid")
                    elemento.classList.add("is-invalid")
                    elemento.setAttribute("aria-describedby", "inputGroupPrepend3 validationServerUsernameFeedback")
                  </script>
                  {% endif %}
                  {% endfor %}
                </div>
              </div>
              <div class="u-form-group u-form-message u-form-group-4">
                <label for="message-d70e" class="u-form-control-hidden u-label">Message</label>
                <div class="input-group has-validation">
                  {{ form.message }}
                  {% for error in form.message.errors %}
                  {% if not error %}
                  <div class="valid-feedback">
                    Buena
                  </div>
                  <script>
                    var elemento = document.getElementById('valimessage')
                    elemento.classList.add("is-valid")
                    elemento.classList.remove("is-invalid")
                  </script>
                  {% endif %}
                  {% if error %}
                  <div id="validationServerUsernameFeedback" class="invalid-feedback">
                    {{ error }}
                  </div>
                  <script>
                    var elemento = document.getElementById('valimessage')
                    elemento.classList.remove("is-valid")
                    elemento.classList.add("is-invalid")
                    elemento.setAttribute("aria-describedby", "inputGroupPrepend3 validationServerUsernameFeedback")
                  </script>
                  {% endif %}
                  {% endfor %}
                </div>
              </div>
              <div class="u-align-center u-form-group u-form-submit u-form-group-5">
                <a href="#" class="u-active-custom-color-4 u-border-none u-btn u-btn-submit u-button-style u-hover-custom-color-4 u-palette-1-base u-btn-1">Enviar Mensaje</a>
                <input type="submit" value="submit" class="u-form-control-hidden">
              </div>
              <div class="u-form-send-message u-form-send-success"> Thank you! Your message has been sent.</div>
              <input type="hidden" value="" name="recaptchaResponse">
          </form>
        </div>
      </div>
    </div>
    {% else %}
      <script>
        Swal.fire({
          background: "#fff",
          title: "<strong>CORREO NO VISIBLE</strong>",
          html: "En el administrador dirígase a <br><strong style='color: #3085d6'>Pestañas &#10142; P. Contacto </strong><br> para activarlo",
          icon: 'error',
          confirmButtonColor: '#3085d6',
          confirmButtonText: 'ok',
        })
      </script>
    {% endif %}
  {% endif %}
</section>
{% include 'includes/footer.html' %}
{% endblock content %}
